body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 15px;
    background: rgba(231, 227, 219, 0.299);
    padding-bottom: 70px;
}

/*----------------------------------Landing Page----------------------------------*/

.podcast-card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.098);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(25, 40, 53, 0.135);
    cursor: pointer;
    transition: all 0.4s ease;
    padding: 10px;
}

.podcast-card:hover {
    scale: 1.05;
    box-shadow: 0 0 25px rgba(142, 89, 68, 0.24);
}

.podcast-list {
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.podcast-card__image {
    width: 170px;
    height: 170px;
    margin-bottom: 5px;
}

.podcast-header__image {
    width: 500px;
    height: 500px;
}

.podcast-card__title {
    font-size: 12px;
}

.podcast-card__publisher {
    font-size: 12px;
}

/*-------------------------------------Player-------------------------------------*/

.player {
    height: 75px;
    width: 100%;
    padding: 15px;
    position: fixed;
    bottom: 0;
    background: rgba(210, 216, 215, 0.97);
    display: flex;
    align-items: center;
    gap: 5px;
}

.player__progress-bar {
  position: relative;
  width: 95vw;
  height: 6px;
  background-color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.player__progress-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #504f4f;
  border-radius: 3px;
  width: 0%;
}